.modal-dialog.modal-lg
  .modal-content.animated.bounceInRight
    .modal-header
      %h4.modal-title
        Module
      %button.close.modal-close{"data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
        %span.sr-only Close
      %i.fa.fa-sticky-note-o.modal-icon
    = bootstrap_form_for([@project, @project_module], remote: true, html: { "format" => :js }) do |f|
      .modal-body
        = f.text_field :module_name
      .modal-footer
        = f.submit :save, class: "btn btn-success"
        %button.btn.btn-white.modal-close{"data-dismiss" => "modal", :type => "button"} Cancel